<section class="recipe">
    <ol class="breadcrumb">
        <li class="active">Add Recipe</li>
    </ol>

    <form name="EditPostForm">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="recipe.title">
        </div>
        <div class="form-group">
            <label for="textareaContent">Discription</label>
            <textarea class="form-control" rows="19" id="textareaContent" ng-model="recipe.description"></textarea>
        </div>
        <div class="form-group">
            <label for="inputIngredients">Ingredients</label>
            <input type="text" class="form-control" id="inputIngredients" placeholder="Ingredient 1, Ingredient 2, ..." ng-model="recipe.ingredients">
        </div>
        <div class="form-group row">
            <label class="col-sm-1 form-control-label">Upload Picture</label>
            <div class="col-sm-4">
                <input type="file" ngf-select ng-model="file" name="file"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"
                       ngf-max-size="20MB">
            </div>
            <div class="col-sm-4 col-sm-offset-1" ng-if="recipe.image_url">
                <img alt="user" style="width: 250px; height: 250px;"  class="img-responsive"  src="{{recipe.image_url}}" /> 
            </div>
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(recipe, file)">Save</button>
    </form>

</section>
