<section class="recipe" ng-repeat="recipe in recipes">
    <header class="recipe-header">
        <h2 class="recipe-title"><a href="#/recipe/{{recipe.id}}">{{recipe.title}}</a></h2>
        <div class="recipe-meta"><i class="fa fa-bullseye"></i> Posted on {{recipe.createdAt | date:'medium'}}</div>
    </header>
    <div class="recipe-content">
        <h4 class="recipe-headers"><a>Description: </a></h4>
        <p ng-bind-html="recipe.description">
            {{recipe.description}}
        </p>
        <a href="#/recipe/{{recipe.id}}" class="btn btn-primary">Read More</a>
    </div>
</section>